extends ../layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="imagen de nosotros")
            .col-md-7   
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis laborum commodi blanditiis mollitia quis, similique voluptate suscipit quos molestias tenetur qui minima doloribus atque! Fuga quod omnis rerum natus tenetur?
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium rem, impedit quidem sint minus delectus possimus ipsa libero aperiam autem illo. Labore veniam, dolore porro placeat deleniti quibusdam minus fuga doloremque eveniet veritatis eum mollitia sint ullam voluptatibus, quae, vero corrupti recusandae cum voluptas. Laborum fuga libero perferendis tempore! Minima?
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro culpa harum, distinctio expedita labore voluptatibus saepe molestias non quod quae rem necessitatibus cum fugiat iste! Culpa harum dignissimos enim modi numquam? Dolorum quos nostrum reiciendis. Quae adipisci voluptatibus dolorem expedita cupiditate libero iusto pariatur officiis et? Ea exercitationem assumenda magni!
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4   
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="icono seguridad")
                    h2.mb-4 Seguridad   
                    p.text-justify Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem necessitatibus soluta fugiat minus ex libero. Pariatur quaerat incidunt consequatur rerum. Unde nulla alias molestiae voluptas.
                .col-md-4   
                    img.img-fluid.mb-4(src="img/icono_destinos.svg", alt="icono destinos")
                    h2.mb-4 Mejores Destinos   
                    p.text-justify Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem necessitatibus soluta fugiat minus ex libero. Pariatur quaerat incidunt consequatur rerum. Unde nulla alias molestiae voluptas.
                .col-md-4   
                    img.img-fluid.mb-4(src="img/icono_precios.svg", alt="icono seguridad")
                    h2.mb-4 Mejor Precio       
                    p.text-justify Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem necessitatibus soluta fugiat minus ex libero. Pariatur quaerat incidunt consequatur rerum. Unde nulla alias molestiae voluptas.
                    